<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506538310649-2tranhpgc18qvmrb61ti9s5e13v8urb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506538310649-2tranhpgc18qvmrb61ti9s5e13v8urb1</string>
	<key>API_KEY</key>
	<string>AIzaSyAhm1zL6B1c3QuPBEECcOWb5-25k75RGcg</string>
	<key>GCM_SENDER_ID</key>
	<string>506538310649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>azzam.Motorcycle</string>
	<key>PROJECT_ID</key>
	<string>motorcycle-1e6d2</string>
	<key>STORAGE_BUCKET</key>
	<string>motorcycle-1e6d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506538310649:ios:92390689eb76223d381b28</string>
</dict>
</plist>